@model IEnumerable<web.Models.InsuranceSubject>

@{
    ViewData["Title"] = "InsuranceSubject";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Estimated value
            </th>
            <th>
                Insured
            </th>
            <th>
                Object type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceSubjectType.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insured.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InsuranceSubjectID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InsuranceSubjectID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InsuranceSubjectID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
