@model IEnumerable<web.Models.InsurancePolicy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Policy number
            </th>
            <th>
                Final price
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Name and Lastname
            </th>
            <th>
                Object
            </th>
            <th>
                Insurance
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InsurancePolicyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insured.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceSubject.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceSubtype.Title)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.InsurancePolicyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InsurancePolicyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InsurancePolicyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
