@{
    ViewData["Title"] = "Admin Panel";
}
<h1>@ViewData["Title"]</h1>
<br />
<h3>Dashboard</h3>
<hr />

<div class="admin-container">
    
    <a asp-area="" asp-controller="Insured" asp-action="Index">
        <div class="mycard card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Clients</h5></div>
            <div class="card-body clients-panel">
                
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="InsuranceSubjects" asp-action="Index">
        <div class="mycard card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Insured objects</h5></div>
            <div class="card-body object-panel">
                
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="InsurancePolicy" asp-action="Index">
        <div class="mycard card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Insurance policies</h5></div>
            <div class="card-body policy-panel">
                
            </div>
        </div>
    </a>
</div>

<div class="admin-container">
    <a asp-area="" asp-controller="InsuranceTypes" asp-action="Index">
        <div class="mycard card text-white bg-warning mb-3 mycard" style="max-width: 18rem;">
            <div class="card-header"><h5>Insurance type</h5></div>
            <div class="card-body types-panel">
                
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="InsuranceSubtypes" asp-action="Index">
        <div class="mycard card text-white bg-secondary mb-3 mycard" style="max-width: 18rem;">
            <div class="card-header"><h5>Insurance subtypes</h5></div>
            <div class="card-body subtypes-panel">
                
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="InsuranceSubjectTypes" asp-action="Index">
        <div class="mycard card text-white bg-info mb-3 mycard" style="max-width: 18rem;">
            <div class="card-header"><h5>Insured object types</h5></div>
            <div class="card-body object-types-panel">
                
            </div>
        </div>
    </a>
</div>
<br /><br />
<h3>Statistics</h3>
<hr />
<br />
<div class="canvas-container">
  <div class="canvas">
      <canvas id="radar-chart" width="800" height="600"></canvas>
  </div>
  <div class="canvas">
      <canvas id="pie-chart" width="800" height="450"></canvas>
  </div>
</div>
<br />
<br />
<script>
function repeatColors(data, colors) {
  var result = [];
  for (var i = 0; i < data.length; i++) {
    result.push(colors[i % colors.length]);
  }
  return result;
}
var bgColors = [
  "#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"
];
var subtypesArray = @Html.Raw(Json.Serialize(ViewData["subtypes"]));
var subtypeInstances = @Html.Raw(Json.Serialize(ViewData["subtypeInstances"]));
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: subtypesArray,
      datasets: [{
        label: "Subtypes shares",
        backgroundColor: repeatColors(subtypeInstances, bgColors),
        data: subtypeInstances
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Insurance subtypes shares'
      }
    }
});

var userSumByType = @Html.Raw(ViewData["userSumByType"]);
var users = @Html.Raw(ViewData["users"]);
fullName = users[0].FirstName + " " + users[0].LastName;
console.log(users[0].FirstName);
console.log(userSumByType[fullName]);

var datasetsArray = [];

for(let i=0; i<users.length; i++){
  var fullName = users[i].FirstName + " " + users[i].LastName;
  var num = Math.round(0xffffff * Math.random());
  var r = num >> 16;
  var g = num >> 8 & 255;
  var b = num & 255;
  var b = {
      label: fullName,
      fill: true,
      backgroundColor: 'rgba(' + r + ', ' + g + ', ' + b + ', 0.2)',
      borderColor: 'rgba(' + r + ', ' + g + ', ' + b + ', 1)',
      pointBorderColor: "#fff",
      pointBackgroundColor: 'rgba(' + r + ', ' + g + ', ' + b + ', 1)',
      data: userSumByType[fullName]
  }
  datasetsArray.push(b);
}

console.log(datasetsArray);


var types = @Html.Raw(Json.Serialize(@ViewData["types"]));
new Chart(document.getElementById("radar-chart"), {
    type: 'radar',
    data: {
      labels: types,
      datasets: datasetsArray
    },
    options: {
      title: {
        display: true,
        text: 'Distribution of agent\'s profits'
      }
    }
});
</script>