@model web.Models.Insured

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Insured</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsurancePolicies)
        </dt>
        
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Policy number</th>
                    <th>Final price</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Name and lastname</th>
                    <th>Object</th>    
                    <th></th>
                </tr>
                @foreach (var item in Model.InsurancePolicies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InsurancePolicyID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FinalSum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Insured.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InsuranceSubject.Title)
                        </td>
                        <td>
                            <a href="/InsurancePolicy/Edit/@item.InsurancePolicyID" >Edit</a> |
                            <a href="/InsurancePolicy/Details/@item.InsurancePolicyID">Details</a> |
                            <a href="/InsurancePolicy/Delete/@item.InsurancePolicyID">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
